extends layout

block content
    h1= title
    form(action="/login" method="POST")
        input(type="text" placeholder="username" name="username")
        input(type="password" Placeholder="password" name="password")
        button(type="submit") Login