extends layout

block content
    .col-lg-4
        h1= title
        form(action="/users/login" method="POST")
            .form-group
                input.form-control(type="text" placeholder="username" required="true" name="username")
            .form-group
                input.form-control(type="password" Placeholder="password" required="true" name="password")
            button.btn(type="submit") Login
        a(href="./register") Not registered? Click here!