.col-sm-offset-1.col-sm-3.hidden-xs
    .sidebar.col-sm-12
        h3 Popular Posts
        ul.list-unstyled
            each post in popular
                li: a(href="/posts/#{post.permalink}") #{post.title}
    .sidebar.col-sm-12
        h3 Recent Posts
        ul.list-unstyled
            each post in posts
                li: a(href="/posts/#{post.permalink}") #{post.title}