body {
    background-color: #eee;
}

#header {
    background-color: rgb(29, 27, 149);
    box-shadow: 1px 1px 5px rgba(29, 27, 149, .6);
}

.page-header {
    border-bottom: none;
}

#title {
    border-bottom: 1px solid;
    color: #eee;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#title small {
    color: #999;
}

h2 {
    margin-bottom: 0;
}

.postTitle, a.author {
    color: #081E18;
}

a.postTitle:hover, a.author:hover {
    color: #1F3932;
    text-decoration: none;
}

.sidebar {
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.8;
}


@media (max-width: 768px) {
    h1 {
    line-height: .8;
    }

    .page-header {
        margin: 20px 0 10px;
    }

}

@media (min-width: 768px) {
    .lead {
        font-size: 19px;
    }
}